.cardService{
    margin-top:150px;
}

#cardService{
    
    width: 155vh;
    text-align: center;
}

.dashboardBody{
    height: 450px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.h1Dashboard{
    text-align: center;
    text-shadow: 10px 10px 20px pink;
}