<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a5554aaee0.js" crossorigin="anonymous"></script>
    
  </head>
  <body>

        <!-- Main navigation -->
        <header class="site-header bg-dark border-bottom border-dark">
            <a href="#content" class="sr-only sr-only-focusable">Skip to content</a>
            <div class="container">
                <!-- Navbar -->
                <nav class="navbar main-nav navbar-expand-lg navbar-dark" aria-label="Main navigation">
                    <a href="index.php" class="navbar-brand d-inline-flex text-uppercase">Voisins <i class="fas fa-comments"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="#top" class="nav-link active">Accueil</a>
                            </li>                  
                            <li class="nav-item">
                                <a href="#" class="nav-link">À propos de nous</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Échange de services</a>
                            </li>                            
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>                            
                            <li class="nav-item">
                                <a href="#" class="nav-link">│ Connexin</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end main navigation -->

        {% block body %}{% endblock %}

        <div class="container-fluid text-black" style="background-color: #e6e6e6";>
            <div class="container my-0 py-4">
                <div class="row d-flex flex-row justify-content-between align-items-start">       
                    <div class="col-3">
                        <h5>A propos</h5>
                        <p></p>
                    </div>
                    <div class="col-3">
                        <h5>Nous contacter</h5>
                        <p>
                            67 Route des Romains, <br>
                            Le Mathis,<br> 
                            204 avenue de Colmar <br>
                            67100 Strasbourg <br>
                            Telephone: 0 XX YY ZZ
                        </p>
                    </div>
                    <div class="col-3">
                        <h5>A propos</h5>
                        <p></p>
                    </div>
                    <div class="col-3">
                        <h5>Reseaux sociaux</h5>
                        <ul style="list-style-type: square;">
                            <li><a href="/" style="text-decoration: none; color: #000;">Facebook</a></li>    
                            <li><a href="/" style="text-decoration: none; color: #000;">Twitter</a></li>    
                            <li><a href="/" style="text-decoration: none; color: #000;">Linkedin</a></li>    
                            <li><a href="/" style="text-decoration: none; color: #000;">YouTube</a></li>    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="site-footer bg-dark border-bottom border-dark">
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-white d-flex flex-row justify-content-center align-items-center py-2">
                        <small>Copyright © 2020 Équipe du <strong>VOISIN</strong>. Tous droits réservés </small>                    
                    </div>            
                </div>     
            </div>        
        </footer>	
        <!--end bottom footer--> 
        <a class="btn-scroll-top show" href="#top" data-scroll=""><i class="fas fa-angle-up"></i></a>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>