{% extends 'base.html.twig' %}

{% block title %}Page choisir{% endblock %}

{% block body %}

<div class="container-fluid header">
    <div class="row">
        <div class="col-lg-4">
            <div class="imgLogo">
                ... ici le logo ...
            </div>
            <div class="col-lg-8">
                <h1>Nom du site</h1>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-warning btn-lg btn-block"> <a href="  ">J'ai besoin d'un service</a> </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success btn-lg btn-block">Je rend service</button>
        </div>
    </div>
</div>

{% endblock %}
